language: node_js
node_js:
  - "11"

os:
  - linux
  - osx
#  - windows # TODO: Enable Once Widevine Package Supports Windows

cache:
  yarn: true
  directories:
    - node_modules
    # TODO: Are These Being Used
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder


install: yarn

script:
  # - yarn audit
  # - yarn build
  - if [ "$TRAVIS_TAG" ]; then yarn build; fi

before_deploy:
      # Set up git user name and tag this commit
      - git config --local user.name aAmitsengar
      - git config --local user.email amitsengar@yahoo.com
      - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
      - git tag $TRAVIS_TAG

deploy:
  - provider: releases
    api-key: $GH_TOKEN
    file_glob: true
    file:
      - release/*.dmg
      - release/*.AppImage
    skip_cleanup: true
    on:
      tags: true
  # - provider: snap
  #   snap: release/*.snap
  #   channel: stable
  #   skip_cleanup: true
  #   on:
  #     tags: true
  #     condition: $TRAVIS_OS_NAME = linux
