language: node_js
node_js:
  - "11"

os:
  - linux
  - osx
#  - windows # TODO: Enable Once Widevine Package Supports Windows

cache:
  yarn: true
  directories:
    - node_modules
    # TODO: Are These Being Used
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder


install: yarn

script:
  # - yarn audit
  # - yarn build
  - if [ "$TRAVIS_TAG" ]; then yarn build; fi

before_deploy:
      # Set up git user name and tag this commit
  if ! [[ $TRAVIS_TAG ]]; then
    export TRAVIS_TAG="1.$TRAVIS_BUILD_NUMBER" &&
    git config --local user.name "$USER_NAME" &&
    git config --local user.email "$USER_EMAIL" &&
    git tag "$TRAVIS_TAG" "$TRAVIS_COMMIT";
  fi
  - ls *.deb
  - echo "deploying to GitHub releases"

deploy:
  - provider: releases
    api-key: $GH_TOKEN
    #file_glob: true
    file:
      - release/*.dmg
      - release/*.AppImage
    skip_cleanup: true
    on:
      tags: true
  # - provider: snap
  #   snap: release/*.snap
  #   channel: stable
  #   skip_cleanup: true
  #   on:
  #     tags: true
  #     condition: $TRAVIS_OS_NAME = linux
